<h1>Please log in with your account</h1>
<form method='post'>
  <p>Email:</p>
  <input type="text" name="email">
  <p>Password:</p>
  <label for="password"></label>
  <input type="password" name="" value="">
  <input type="submit" value="Log In">
</form>

<h1>Or log in via Facebook</h1>
