<%= stylesheet_link_tag    'application' %>
<!-- form to be rendered when chef signs up for new account -->
<div class="center">
  <img class="logo" src="/Eats Abroad Logo-v-5A Mar.jpg" width="165" height="125" alt="Eats Abroad logo">
  <h2>Sign up for a new Eats Abroad account</h2>
</div>
  <%= form_for @chef, url: chefs_path, method: :post do |f| %>
    <%= render 'form', f: f %>
  <% end %>
