<!-- form to be rendered when chef signs up for new account -->
<h1>Sign up for a new Eats Abroad account</h1>
<%= form_for @chef, url: chefs_path, method: :post do |f| %>
  <%= render 'form', f: f %>
  <%= f.submit "Create Account" %>
<% end %>
