<h1>Recommended Restaurants</h1>
<ul>
<% @restaurants.each do |r| %>
  <li><%= link_to r.name, restaurant_path(r) %></li>
<% end %>
</ul>


<% if current_user %>
  <%= link_to "Recommend a new restaurant", new_chef_restaurant_path %>
<% end %>
