<h1><%= @restaurant.name %></h1>

<h3>Cuisine: <%= @restaurant.cuisine.capitalize %></h3>

<h3>Recommendations:</h3>
<ul>
  <% @restaurant.comments.each do |c| %>
  <% if c.content != "" %>
    <li><%= c.content %> - <%= link_to c.chef.name, chef_path(c.chef) %></li>
  <% end %>
</ul>
  <% end %>
